.occupation {
  display: block;
  padding-bottom: 94px;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $titles-color;
  margin-bottom: 50px;
}
.occupation-list {
  display: flex;
}
.occupation-list-item:not(:last-child) {
  margin-right: 30px;
}
.occupation-list-item-wrapper {
  position: relative;
}
.occupation-list-item-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}
.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
  }
}
