.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  .img-block {
    margin-bottom: 30px;
  }
}
.team-list {
  display: flex;
}
.team-list-item {
  background-color: #ffffff;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

%font-name-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.name {
  @extend %font-name-team;
  font-weight: 500;
  color: $titles-color;
  margin-bottom: 10px;
}
.position {
  @extend %font-name-team;
  color: $description-color;
  margin-bottom: 16px;
}

.team-list-links {
  display: flex;
  justify-content: center;
}
.social-list:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-link-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-link-item,
.social-link:focus .social-link-item {
  fill: #ffffff;
}
