.modal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding: 40px;
}
.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $titles-color;
  border-radius: 4px;
  margin-bottom: 30px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form-option-lable {
  margin-bottom: 30px;
}
.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}
.form-lable {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $description-color;
  margin-left: 42px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-input:focus + &,
  .modal-form-input:not(:placeholder-shown) + & {
    transform: translate(-26px, -37px);
    font-size: 12px;
    line-height: 1.17;
    color: $accent-color;
  }
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  margin-left: 16px;
  fill: $titles-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-message:focus {
  border: 1px solid $accent-color;
}
.modal-form-input:focus ~ svg {
  fill: $accent-color;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  transform: translate(-6px, 6px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-8px, 8px);
  background-color: #ffffff;
}
.form-field-message {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.modal-user-message {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $description-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-message:focus + &,
  .modal-form-message:not(:placeholder-shown) + & {
    transform: translate(-15px, -29px);
    font-size: 12px;
    line-height: 1.17;
    color: $accent-color;
  }
}
.modal-form-message {
  padding: 12px 16px;
}

.modal-form-option-span {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $description-color;
}
.modal-form-option-lable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accept-svg {
  width: 13px;
  height: 10px;
  fill: #ffffff;
  .modal-form-checkbox:checked ~ & {
    fill: #ffffff;
  }
}
.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid $titles-color;
  margin-right: 7px;
  padding: 1px;
  .modal-form-checkbox:checked + & {
    background-color: $accent-color;
    outline: none;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 1199px) {
  .modal-form {
    width: 450px;
    height: 609px;
  }
  .modal-form-option-span {
    font-size: 12px;
    line-height: 0.857;
  }
}
