html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-size: 14px;
  background-color: #ffffff;
  color: $description-color;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}

.img-block {
  display: block;
}
